
.aboutContainer {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.aboutContainer div {
    padding: 1rem;
}

.aboutContainer p {
    line-height: 2rem;
}

.aboutContainer img {
    width: 100%;
    margin: 16px 0;
}
