.header_container {
    color: var(--dark-text-color);;
}

.header_container a {
    text-decoration: none;
}

.header_link {
    margin-right: 10px;
    color: var(--dark-text-color);
    font-size: 1.25rem;
    text-decoration: none;
    padding: 5px 5px 8px 5px;
    border-radius: 10px;
    transition: all 300ms;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header_link:hover {
    background-color: rgba(40,50,50, 0.1);
}

.header_image_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 200px;
}

.header_image_button img {
    max-height: 48px;
    max-width: 48px; 
    padding-left: 5px;
}

.header_image_text {
    flex-grow: 1;
    font-size: 2rem;
    color: var(--dark-text-color);
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}
