DATABASE_URL=postgres://sorjordet:sorjordet@localhost:5432/sorjordet
JWT_SECRET=local-dev-jwt-secret
PW_SECRET=local-dev-password-secret
PORT=8000

POSTGRES_DB=sorjordet
POSTGRES_USER=sorjordet
POSTGRES_PASSWORD=sorjordet
POSTGRES_PORT=5432
