.harvestListRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-top: 25px;
}

div.harvestSelectBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 300px;
  min-width: 200px;
  width: calc(80vw - 40px);
}

.harvestSelectBody > :first-child {
  margin-top: 5px;
}

.datePickerContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.datePickerContainer > div {
  width: 100%;
}

.addHarvestButton {
  min-width: "56px";
  width: "56px";
  height: "56px";
  border-color: "#c4c4c4";
  text-transform: "none";
  font-size: "14px";
}

.listFilterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.filterComponent {
  flex-grow: 1;
  max-width: 150px;
  width: 100%;
}
