.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.adminButtonsOuter {
  padding: 8px 16px;
  max-width: max-content;
  margin: 0 auto;
  width: calc(100% - 32px);
  overflow: auto;
}

.adminButtons {
  display: flex;
  width: max-content;
  gap: 16px;
  margin: 10px 0;
}

.adminButtons button {
  text-wrap: nowrap;
}

@media (max-width: 640px) {
  .container {
    align-items: stretch;
  }

  .adminButtonsOuter {
    padding: 8px 12px;
    width: calc(100% - 24px);
  }

  .adminButtons {
    gap: 10px;
    margin: 6px 0;
  }
}
